.shop {
  --max-width: 1536px;
  margin-inline: auto;
  width: min(var(--max-width), 100%);
  margin-bottom: clamp(5rem, 4.1304rem + 4.3478vw, 7.5rem);
  color: (--text);
}

.otherStates {
  composes: shop;
  min-height: 44.55dvh;
  display: grid;
  place-items: center;
  text-align: center;
  padding-inline: 0.5rem;

  h2 {
    font-size: clamp(1.75rem, 1.5761rem + 0.8696vw, 2.25rem);
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: clamp(1.5rem, 1.3261rem + 0.8696vw, 2rem);
  padding: 2.5rem clamp(0.5rem, 0.3261rem + 0.8696vw, 1rem);
}

.main {
  margin-bottom: 1rem;
  h2 {
    font-size: clamp(1.75rem, 1.4891rem + 1.3043vw, 2.5rem);
    margin-bottom: 0.75rem;
    letter-spacing: 0.2ch;
  }
  p {
    font-size: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
    letter-spacing: 0.5ch;
  }
}
.controls {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  composes: btn from "../BackBtn/BackBtn.module.css";
  font-size: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --text: black;
  background-color: #f0f0f0;
  color: var(--text);
  border-radius: 0.5rem;
  transition: background-color 150ms;

  svg {
    margin-right: 0.25rem;
    width: clamp(1.25rem, 1.0761rem + 0.8696vw, 1.75rem);
  }
}

.btn:hover {
  background-color: var(--action);
}

.content {
  padding: 3rem 1rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(325px, 100%), 1fr));
  gap: clamp(1.25rem, 0.9891rem + 1.3043vw, 2rem);
  justify-items: center;

  .card {
    --text: whitesmoke;
    --max-width: 400px;
    width: min(var(--max-width), 100%);
    min-height: 25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--bg25L);
    color: var(--text);
    border-radius: 1.125rem;

    img {
      aspect-ratio: 1;
      object-fit: contain;
      background-position: center;
    }

    .productInfo {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin: 15px 20px;

      .cartPrice {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button,
        p {
          font-size: 1.125rem;
          color: var(--text);
        }

        button {
          font-weight: 550;
          padding-block: 0.35rem;
          cursor: pointer;
          background: transparent;
          border: 0;
          transition: color 200ms;
        }

        button:hover,
        button:focus-visible {
          color: var(--action);
        }
      }

      h3 {
        text-align: start;
        font-size: 1.25rem;
      }
    }
  }
}
