.shop {
  margin-inline: auto;
  max-width: 80%;
  margin-bottom: 7.5rem;
  color: (--text);
}

.otherStates {
  composes: shop;
  min-height: 44.55dvh;
  display: grid;
  place-items: center;
  text-align: center;

  h2 {
    font-size: 36px;
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  padding: 2.5rem 1rem;
  /* border: 1px solid; */
  /* color: black; */
}

.main {
  /* border: 1px solid white; */
  /* padding-inline: 1.5rem; */
  margin-bottom: 1rem;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
    letter-spacing: 0.25rem;
  }
  p {
    font-size: 1.25rem;
    letter-spacing: 0.5ch;
  }
}
.controls {
  /* width: 100%; */
  /* border: 1px solid; */
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-inline: 1rem; */
}
.btn {
  composes: btn from "../BackBtn/BackBtn.module.css";
  --text: black;
  background-color: #f0f0f0;
  color: var(--text);
  border-radius: 0.5rem;
  transition: background-color 150ms;

  svg {
    margin-right: 0.25rem;
    width: 28px;
  }
}

.btn:hover {
  background-color: var(--action);
}

.content {
  /* border: 1px solid; */
  padding: 3rem 1rem;
  margin-inline: auto;
  /* margin-bottom: 5rem; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(325px, 100%), 1fr));
  gap: 2rem;
  justify-content: center;

  .card {
    --text: whitesmoke;
    min-height: 25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* background-color: lch(from lch(12.25% 0 296.81) 25% c h); */
    background-color: var(--bg25L);
    color: var(--text);
    border-radius: 1.125rem;

    img {
      aspect-ratio: 1;
      object-fit: contain;
      /* width: 100%; */
      background-position: center;
    }

    .productInfo {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin: 15px 20px;

      .cartPrice {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button,
        p {
          font-size: 1.125rem;
          color: var(--text);
        }

        button {
          font-weight: 550;
          padding-block: 0.35rem;
          cursor: pointer;
          background: transparent;
          border: 0;
          transition: color 200ms;
        }

        button:hover,
        button:focus-visible {
          color: var(--action);
        }
      }

      h3 {
        text-align: start;
        font-size: 1.25rem;
      }
    }
  }
}
