.cart {
  composes: shop from "../Shop/Shop.module.css";
}

.header {
  composes: header from "../Shop/Shop.module.css";
}

.main {
  composes: main from "../Shop/Shop.module.css";
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;

  strong > p {
    letter-spacing: 0.25ch;
    text-transform: uppercase;
  }
}

.content {
  margin-inline: auto;
  max-width: 95%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
  background-color: lch(from lch(0% 0 0) 25% c h);

  .svg {
    background-color: lch(from lch(0% 0 0) 55% c h);
    padding: 1.75rem;
    border-radius: 50%;
    svg {
      stroke: lch(from lch(0% 0 0) 15% c h);
    }
  }

  h3 {
    margin-top: 0.5rem;
    font-size: 2rem;
    color: whitesmoke;
  }
  p {
    font-size: 1.25rem;
    max-width: 40ch;
    text-align: center;
    margin-bottom: 0.75rem;
    color: lch(from lch(100% 0 0) 80% c h);
  }
}

.products {
  margin-inline: auto;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}
.product {
  background-color: lch(from lch(0% 0 0) 25% c h);
  display: flex;
  gap: 3rem;
  padding: 2rem 3.5rem;
  border: 0;
  border-radius: 0.5rem;
  color: aliceblue;

  img {
    aspect-ratio: 1;
    width: 200px;
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 2rem;
    flex-grow: 1;

    .titlePrice {
      display: flex;
      justify-content: space-between;

      h3,
      p {
        font-size: 1.5rem;
      }
      h3 {
        max-width: 40ch;
      }
    }

    .qtyControls {
      display: flex;
      align-items: center;
      gap: 1rem;

      input[type="tel"],
      button {
        padding: 0.5rem 1rem;
        border: 0;
        border-radius: 5px;
        font-size: 1.125rem;
        color: black;
      }
      input[type="tel"] {
        width: 70px;
        text-align: center;
        background-color: #f0f0f0;
      }
      button {
        cursor: pointer;
      }
    }
  }
}
