.cart {
  composes: shop from "../Shop/Shop.module.css";
  --cartMaxWidth: 1536px;
  --cartMargin: 2rem;
}

.header {
  composes: header from "../Shop/Shop.module.css";
}

.main {
  composes: main from "../Shop/Shop.module.css";
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-h);
}

.content {
  --text-h: #f3f4f6;
  --max-width: var(--cartMaxWidth);
  width: min(var(--max-width), 100% - var(--cartMargin));
  min-height: 25rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
  background-color: var(--bg25L);

  .svg {
    background-color: oklch(from var(--bg) 55% c h);
    padding: clamp(1.25rem, 1.0761rem + 0.8696vw, 1.75rem);
    border-radius: 50%;
    svg {
      stroke: oklch(from var(--bg) 15% c h);
      width: clamp(1.75rem, 1.4891rem + 1.3043vw, 2.5rem);
    }
  }

  h3 {
    margin-top: 0.5rem;
    font-size: clamp(1.5rem, 1.3261rem + 0.8696vw, 2rem);
    color: var(--text-h);
  }
  p {
    font-size: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
    max-width: 40ch;
    text-align: center;
    margin-bottom: 0.75rem;
    color: oklch(from var(--text-h) 80% c h);

    @media (width <= 360px) {
      max-width: 30ch;
    }
  }
}

.products {
  --max-width: var(--cartMaxWidth);
  width: min(var(--max-width), 100% - var(--cartMargin));
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}
.product {
  background-color: var(--bg25L);
  display: flex;
  gap: clamp(1.25rem, 0.6413rem + 3.0435vw, 3rem);
  padding: clamp(1rem, 0.6522rem + 1.7391vw, 2rem)
    clamp(0.625rem, -0.375rem + 5vw, 3.5rem);
  border: 0;
  border-radius: 0.5rem;
  color: aliceblue;

  img {
    aspect-ratio: 1;
    width: clamp(4rem, 1.0435rem + 14.7826vw, 12.5rem);
    object-fit: contain;

    @media (width < 980px) {
      aspect-ratio: 1 / 1.5;
    }
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    .titlePrice {
      display: flex;
      justify-content: space-between;

      h3,
      p {
        font-size: clamp(0.9375rem, 0.7418rem + 0.9783vw, 1.5rem);
      }
      h3 {
        max-width: 25ch;
      }

      @media (width <= 530px) {
        gap: 0.5rem;
        flex-direction: column;
      }
    }

    .qtyControls {
      --bg: #f0f0f0;
      --text: #08060d;
      display: flex;
      align-items: center;
      gap: 1rem;

      input[type="tel"],
      button {
        padding: clamp(0.25rem, 0.163rem + 0.4348vw, 0.5rem)
          clamp(0.625rem, 0.4946rem + 0.6522vw, 1rem);
        border: 0;
        border-radius: 5px;
        font-size: clamp(0.875rem, 0.788rem + 0.4348vw, 1.125rem);
        color: var(--text);
      }
      input[type="tel"] {
        width: clamp(2.5rem, 1.8478rem + 3.2609vw, 4.375rem);
        text-align: center;
        background-color: var(--bg);
      }
      .ctrl {
        cursor: pointer;
        background-color: var(--bg);
        transition: background-color 200ms ease-out;
      }
      .ctrl:hover {
        background-color: var(--action);
      }
      .remove {
        background-color: var(--action);
        margin-left: auto;
        transition: background-color 150ms ease-out;
      }
      .remove:hover {
        background-color: var(--bg);
      }

      @media (width < 370px) {
        flex-wrap: wrap;
        .remove {
          margin-left: 0;
          justify-self: start;
        }
      }
    }

    @media (width < 640px) {
      gap: 1rem;
    }
  }
}

.btn {
  composes: btn from "../LinkBtn/LinkBtn.module.css";
  background-color: #f0f0f0;
  color: black;
  transition: background-color 100ms ease-out;
}

.btn:hover {
  background-color: oklch(from var(--bg) 85% c h);
}
