.cart {
  composes: shop from "../Shop/Shop.module.css";
}

.header {
  composes: header from "../Shop/Shop.module.css";
}

.main {
  composes: main from "../Shop/Shop.module.css";
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-h);

  strong > p {
    letter-spacing: 0.25ch;
    text-transform: uppercase;
  }
}

.content {
  --text-h: #f3f4f6;
  max-width: 95%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
  /* background-color: oklch(from var(--bg) 25% c h); */
  background-color: var(--bg25L);

  .svg {
    background-color: oklch(from var(--bg) 55% c h);
    padding: 1.75rem;
    border-radius: 50%;
    svg {
      stroke: oklch(from var(--bg) 15% c h);
    }
  }

  h3 {
    margin-top: 0.5rem;
    font-size: 2rem;
    color: var(--text-h);
  }
  p {
    font-size: 1.25rem;
    max-width: 40ch;
    text-align: center;
    margin-bottom: 0.75rem;
    color: oklch(from var(--text-h) 80% c h);
  }
}

.products {
  margin-inline: auto;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}
.product {
  /* background-color: lch(from lch(0% 0 0) 25% c h); */
  background-color: var(--bg25L);
  display: flex;
  gap: 3rem;
  padding: 2rem 3.5rem;
  border: 0;
  border-radius: 0.5rem;
  color: aliceblue;

  img {
    aspect-ratio: 1;
    width: 200px;
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    .titlePrice {
      display: flex;
      justify-content: space-between;

      h3,
      p {
        font-size: 1.5rem;
      }
      h3 {
        max-width: 25ch;
      }
    }

    .qtyControls {
      --bg: #f0f0f0;
      --text: #08060d;
      display: flex;
      align-items: center;
      gap: 1rem;

      input[type="tel"],
      button {
        padding: 0.5rem 1rem;
        border: 0;
        border-radius: 5px;
        font-size: 1.125rem;
        color: var(--text);
      }
      input[type="tel"] {
        width: 70px;
        text-align: center;
        background-color: var(--bg);
      }
      button {
        cursor: pointer;
        background-color: var(--bg);
      }
      .remove {
        background-color: var(--bg);
        margin-left: auto;
      }
    }
  }
}
