.btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: clamp(0.625rem, 0.538rem + 0.4348vw, 0.875rem)
    clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
  font-size: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  cursor: pointer;
  text-decoration: none;
  border: 0;
}

.back {
  composes: btn;
  background-color: transparent;
  padding: 0;
  transition: all 100ms;

  svg {
    stroke: black;
    width: clamp(1.25rem, 1.0761rem + 0.8696vw, 1.75rem);
  }
  @media (prefers-color-scheme: dark) {
    svg {
      stroke: whitesmoke;
    }
  }
}

.back:hover {
  color: brown;

  svg {
    stroke: brown;
  }
}

@media (prefers-color-scheme: dark) {
  .back:hover {
    color: var(--action);

    svg {
      stroke: var(--action);
    }
  }
}
