.btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 1.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  text-decoration: none;
  border: 0;
}

.back {
  composes: btn;
  background-color: transparent;
  padding: 0;
  transition: all 100ms;

  svg {
    stroke: black;
    width: 28px;
  }
  @media (prefers-color-scheme: dark) {
    svg {
      stroke: whitesmoke;
    }
  }
}

.back:hover {
  color: brown;

  svg {
    stroke: brown;
  }
}

@media (prefers-color-scheme: dark) {
  .back:hover {
    color: var(--action);

    svg {
      stroke: var(--action);
    }
  }
}
