@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.btn {
  padding: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem)
    clamp(2rem, 1.3043rem + 3.4783vw, 4rem);
  font-size: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  border: 0;
  border-radius: clamp(0.625rem, 0.4946rem + 0.6522vw, 1rem);
  cursor: pointer;
  text-decoration: none;
}

.heroBtn {
  composes: btn;
  position: relative;
  background: var(--bg);
  color: var(--heroBtnText);
  transition: color 0.15s;
}

.heroBtn:hover {
  color: darkcyan;

  @media (prefers-color-scheme: light) {
    background-color: aliceblue;
    color: teal;
  }
}

.heroBtn::before,
.heroBtn::after {
  content: "";
  position: absolute;
  inset: clamp(-0.2813rem, -0.2573rem + 0.1196vw, -0.35rem);
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--heroBtnGrad-1),
    var(--heroBtnGrad-2),
    var(--heroBtnGrad-3),
    var(--heroBtnGrad-2),
    var(--heroBtnGrad-1)
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.heroBtn::after {
  filter: blur(clamp(2rem, 1.4783rem + 2.6087vw, 3.5rem));
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
