.header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid; */
  padding: 1rem 2rem;
}

.logo {
  text-decoration: none;
  color: var(--text-h);
  background: none;
  font-size: 1.75rem;
  cursor: pointer;
}

.input {
  margin-inline: auto;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 40rem;
  background-color: var(--bg25L);
  border-radius: 0.875rem;
  > input {
    border-radius: inherit;
    background-color: inherit;
    min-width: 93.5%;
    padding: 1.125rem 1rem;
    border: 0;
    font-size: 1.125rem;
    color: aliceblue;
  }
  > input:focus-visible {
    outline: 0;
  }
  > .searchBtn {
    --svg: aliceblue;
    position: absolute;
    right: 1rem;
    block-size: auto;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0.5rem 0;
    > svg {
      width: 1.75rem;
      aspect-ratio: 1;
      stroke: var(--svg);
    }
  }
}
.nav {
  > ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid; */
    gap: 2rem;
    > a {
      cursor: pointer;
    }
    svg {
      width: 2rem;
      stroke: var(--svg);
    }
  }
}

.cart {
  position: relative;
}

.cart::before {
  content: "";
  position: absolute;
  background: red;
  border-radius: 50%;
  top: 2%;
  right: -15%;
  width: 12px;
  aspect-ratio: 1;
}
