.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem clamp(1rem, 0.6522rem + 1.7391vw, 2rem);
  gap: 1rem;
}

.logo {
  text-decoration: none;
  color: var(--text-h);
  font-size: clamp(1rem, 0.7391rem + 1.3043vw, 1.75rem);
  width: fit-content;
  cursor: pointer;
  transition: color 150ms;
}

.logo:hover {
  color: brown;
  @media (prefers-color-scheme: dark) {
    color: var(--action);
  }
}

.input {
  margin-inline: auto;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: clamp(16.25rem, -6.0156rem + 59.375vw, 40rem);
  background-color: var(--input-bg);
  border-radius: 100vw;
  > input {
    border-radius: inherit;
    background-color: inherit;
    min-width: 90%;
    padding: clamp(0.5rem, 0.3261rem + 0.8696vw, 1rem)
      clamp(0.625rem, 0.4946rem + 0.6522vw, 1rem);
    border: 0;
    font-size: clamp(0.875rem, 0.788rem + 0.4348vw, 1.125rem);
    color: var(--text-h);
  }
  > input:focus-visible {
    outline: 0;
  }
  > .searchBtn {
    position: absolute;
    right: clamp(0.5rem, 0.3261rem + 0.8696vw, 1rem);
    block-size: auto;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0.5rem 0;
    > svg {
      width: clamp(1.25rem, 1.0761rem + 0.8696vw, 1.75rem);
      aspect-ratio: 1;
      stroke: var(--svg);
    }
  }
}

@media (width < 600px) {
  .input {
    width: 37.5px;
    transition: width 350ms ease-in-out;
    &:focus-within {
      position: absolute;
      width: 18rem;
      z-index: 10;
    }
    > input {
      width: 0;
    }
  }
}

.nav {
  > ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: clamp(1rem, 0.4783rem + 2.6087vw, 2.5rem);
    > a {
      cursor: pointer;
    }
    svg {
      width: clamp(1.25rem, 0.9891rem + 1.3043vw, 2rem);
      stroke: var(--svg);
    }
  }
}

.cart {
  position: relative;
}

.cartCount {
  font-weight: 600;
  text-align: center;
  position: absolute;
  background-color: var(--action);
  color: black;
  width: clamp(1.5rem, 1.2609rem + 1.1957vw, 2.1875rem);
  font-size: clamp(0.625rem, 0.4946rem + 0.6522vw, 1rem);
  border-radius: 1.5rem;
  top: -6px;
  left: 12px;
}
