:root {
  --text: oklch(51.351% 0.02965 305.393);
  --text-h: oklch(12.971% 0.01714 298.914);
  --bg: oklch(100% 0.00011 271.152);
  --bg15L: oklch(from var(--bg) 15% c h);
  --bg25L: oklch(from var(--bg) 40% c h);
  --input-bg: oklch(from var(--bg) 85% c h);
  --svg: var(--text-h);
  --heroBtnText: var(--bg25L);
  --heroBtnGrad-1: oklch(37.864% 0.05894 203.349);
  --heroBtnGrad-2: oklch(59.159% 0.09019 185.371);
  --heroBtnGrad-3: oklch(55.554% 0.06634 134.213);
  --action: oklch(74.917% 0.15121 235.273);
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font-family: var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: oklch(71.366% 0.01926 261.373);
    --text-h: oklch(96.696% 0.00298 264.792);
    --bg: oklch(20.628% 0.01201 277.829);
    --bg15L: oklch(from var(--bg) 15% c h);
    --bg25L: oklch(from var(--bg) 25% c h);
    --input-bg: var(--bg25L);
    --svg: var(--text-h);
    --heroBtnText: var(--text-h);
  }
}
#root {
  background-color: var(--bg);
  border-inline: 1px solid var(--border);
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}
